@using Microsoft.AspNet.Identity
@model Forum.Models.ApplicationUser.ProfileModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Профіль
        </div>
    </div>

    <div class="row userProfile">
        <div class="col-md-4">
            <div id="userProfileImage" style="background-image:url(@Model.ProfileImageUrl)"></div>
            @if (User.Identity.Name == Model.UserName)
            {
                using (Html.BeginForm("UploadProfileImage", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div id="upload">
                        <label class="btn btn-default btn-file">
                            Знайти <input type="file" name="file" style="display: none" />
                        </label>
                    </div>
                    <button type="submit" id="btn-profile" class="btn btn-default">Відправити</button>
                }
            }
        </div>
        
        <div class="col-md-8">
            <span id="userName">@Model.UserName</span>
            @if (@Model.IsAdmin)
            {
                <span class="isAdmin">Admin</span>
            }
            <span id="userRating">Рейтинг: @Model.UserRating</span>
            <span id="userEmailLabel">Електронна адреса: @Model.Email</span>
            <span id="userRating">Учасник з: @Model.MemeberSince</span>
        </div>
    </div>
</div>

