@model Forum.Models.ApplicationUser.ProfileListModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">Користувачі</div>
        <div class="row" id="forumIndexContent">
            <table class="table table-hover" id="userIndexTable">
                <thead>
                    <tr>
                        <th>Фото</th>
                        <th>Імя користувача</th>
                        <th>Електронна пошта</th>
                        <th>Дата реєстрації</th>
                        <th>Рейтинг</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var profile in Model.Profiles)
                    {
                        <tr class="userRow">
                            <td>
                                <div class="userProfilePic" style="background-image: url(@profile.ProfileImageUrl)"></div>
                            </td>
                            <td>
                                @profile.UserName
                            </td>
                            <td>
                                @profile.Email
                            </td>
                            <td>
                                @profile.MemeberSince
                            </td>
                            <td>
                                @profile.UserRating
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>