@model Forum.Models.Forum.AddForumModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Створення нового форуму
        </div>
    </div>
    <div class="row">
        <div id="createForumSection">
            @using (Html.BeginForm("AddForm", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "createForumForm" }))
            {
                @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, "Назва форуму", null)
                    @Html.TextAreaFor(model => model.Title, new { @class = "form-control", @placeholder = "Вкажіть назву форуму...." })
                    <span>
                        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })
                    </span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description) Опис форуму
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Короткий опис форуму...." })
                    <span>
                        @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                    </span>
                </div>
                <div id="upload">
                    <label>Завантаження зображення для форуму</label>
                    <br />
                    <label class="btn btn-default btn-file">
                        Знайти <input type="file" name="file" style="display: none" />
                    </label>
                </div>
                <button type="submit" id="newFormBtn" class="btn btn-submitPost">Створити форум</button>
            }
        </div>
    </div>
</div>