@model Forum.Models.Forum.ForumIndexModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">Перегляд форумів</div>
        <div class="sectionDescription">
            <p>Вітаємо на <strong>Флінт форумі</strong>. Пости зазделегіть розподілені по форумах по програмуванню.</p>
            <p>
                Будь-ласка, прочитай Правила форуму перед створенням нового повідомлення.
                @if (!User.Identity.IsAuthenticated)
                {
                    <span>
                        Тільки @Html.ActionLink("зареєстровані", "Register", "Account") користувачі можуть створити нове повідомлення.
                    </span>
                }
            </p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        <table class="table table-hover" id="forumIndexTable">
            <tbody>
                @foreach (var forum in Model.ForumList)
                {
                    <tr>
                        <td>
                            <div class="forumLogo" style="background-image:url(@forum.ImageUrl)"></div>
                            <div class="forumData">
                                <div class="forumTitle">
                                    @Html.ActionLink(@forum.Name, "Topic", "Forum", new { id = forum.Id })
                                </div>
                                <div class="forumSubTitle">
                                    @if (forum.HasRecentPost)
                                    {
                                        <div class="hasRecentPost">Гаряче</div>
                                    }
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="forumPostCount">
                                @forum.NumberOfPosts Повідомлень
                            </div>
                            <div class="forumMemberCount">
                                @forum.NumberOfUsers Користувачів
                            </div>
                        </td>
                        <td>
                            <div class="forumDescription">
                                @forum.Description
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
