@model Forum.Models.Forum.ForumTopicModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span>@Model.Forum.Name Forum</span>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <span id="headingBtn">
                    @Html.ActionLink("Створити повідомлення", "Create", "Post", new { id = Model.Forum.Id }, htmlAttributes: new { @class = "btn btn-newPost" })
                </span>
            }
            @using (Html.BeginForm("Search", "Forum", FormMethod.Post))
            {
                <div class="searchForm">
                 <input name="SearchQuery" type="text" placeholder="Пошук..." class="searchBar" 
                        style="padding: 3px 5px 2px 12px; margin: 8px; background-color: #333; width: 10%; transition: ease 0.3s; border: none; "  onfocus="clearThis(this)"/>
                     <button type="submit" class="btn btn-forumSearch" style="
 background: none !important; border: none; padding: 0 !important; font: inherit; ">
                        <i class="material-icons">search</i>
                    </button>
                </div>
                <input type="hidden" name="id" value="@Model.Forum.Id"/>
                
            }

            
        </div>
        <div class="sectionDescription">
            <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl)"></div>
            <p>Вітаємо у @Model.Forum.Name форумі. Будь-ласка, зберігайте дружелюбність та актуальність в повідомленнях.</p>
            @if (!User.Identity.IsAuthenticated)
            {
                <p>
                    <span>
                        Тільки
                        @Html.ActionLink("зареєстровані","Register", "Account") 
                        користувачі можуть створювати нові повідомлення.
                    </span>
                </p>
            }
        </div>
    </div>
    <div class="row forumIndexContent">
        @if (Model.Posts.Any())
        {
            <table class="table table-hover table-bordered" id="forumIndexTable">
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>
                                <div class="postData">
                                    <div class="postTitle">
                                        @Html.ActionLink(@post.Title, "Index", "Post", new { id = @post.Id}, null)
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                            <span class="postAuthor">
                                                @Html.ActionLink(post.AuthorName, "Detail", "Profile", new { id = @post.AuthorId })
                                            </span>
                                            (@post.AuthorRating) на
                                            <span class="postDate">
                                                @post.DatePosted
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                    Відповіді: @post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="postDate">@post.DatePosted</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">Питання_відповідь</i>
                <h3>
                    Схоже, повідомлень не знайдено.
                    Чому б не опублікувати 
                    @Html.ActionLink("повідомлення", "Create", "Post", new { id = @Model.Forum.Id}) ?
                </h3>
            </div>
        }
    </div>
</div>

<script>
    function clearThis(target) {
        target.value = "";
    }
</script>

